<!-- FAQs-->
<div class="py-8 bg-light">
    <div class="container">
        <h3 class="text-center fs-1 mb-3 fw-bold">Sık Sorulan Sorular</h3>
        <div class="row">
            <div class="mx-auto mt-5 col-12 col-md-8 col-lg-6 col-xl-5">
                <picture>
                    <img class="img-fluid rounded-5" src="{{webRoot}}/assets/images/img-doctor.jpg" alt="{{ config.defaultImgAlt }}">
                </picture>
            </div>
            <div class="mx-auto mt-5 col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header border-bottom" id="headingOne">
                            <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Integer dignissim iaculis sapien, non efficitur ?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Aenean maximus accumsan orci, sed vehicula lectus placerat in.</strong>
                                Vestibulum
                                malesuada dolor nec turpis congue, non accumsan eros placerat. Aliquam pharetra ante vel
                                erat feugiat, tempus rhoncus nulla egestas. Phasellus ac leo ut nisi hendrerit aliquam.
                                Maecenas tristique sem a nisi mollis dignissim.
                                Duis sodales elit tellus, ullam purus nisi, placerat a est ut, vestibulum dictum lacus.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header border-bottom" id="headingTwo">
                            <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Aliquam turpis dui, elementum vel dui nec ?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Aenean maximus accumsan orci, sed vehicula lectus placerat in.</strong>
                                Vestibulum
                                malesuada dolor nec turpis congue, non accumsan eros placerat. Aliquam pharetra ante vel
                                erat feugiat, tempus rhoncus nulla egestas. Phasellus ac leo ut nisi hendrerit aliquam.
                                Maecenas tristique sem a nisi mollis dignissim.
                                Duis sodales elit tellus, ullam purus nisi, placerat a est ut, vestibulum dictum lacus.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header border-bottom" id="headingThree">
                            <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Cras tristique tortor sit amet risus ?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Aenean maximus accumsan orci, sed vehicula lectus placerat in.</strong>
                                Vestibulum
                                malesuada dolor nec turpis congue, non accumsan eros placerat. Aliquam pharetra ante vel
                                erat feugiat, tempus rhoncus nulla egestas. Phasellus ac leo ut nisi hendrerit aliquam.
                                Maecenas tristique sem a nisi mollis dignissim.
                                Duis sodales elit tellus, ullam purus nisi, placerat a est ut, vestibulum dictum lacus.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header border-bottom" id="headingFour">
                            <button class="accordion-button fw-medium collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Sed et justo volutpat purus bibendum condimentum ?
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="collapseFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>Aenean maximus accumsan orci, sed vehicula lectus placerat in.</strong>
                                Vestibulum
                                malesuada dolor nec turpis congue, non accumsan eros placerat. Aliquam pharetra ante vel
                                erat feugiat, tempus rhoncus nulla egestas. Phasellus ac leo ut nisi hendrerit aliquam.
                                Maecenas tristique sem a nisi mollis dignissim.
                                Duis sodales elit tellus, ullam purus nisi, placerat a est ut, vestibulum dictum lacus.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / FAQs-->