<div class="py-5 bg-info">
  <div class="container">
    <p class="mb-3 fw-bolder text-uppercase text-primary text-center tracking-wider">Referanslarımız</p>
    <h4 class="fs-1 fw-bold text-center col-12 col-sm-6 col-md-5 col-lg-6 col-xl-4 mb-6 mx-auto">Müşteri Yorumlarına Göz Atın</h4>
    <div class="d-flex justify-content-center flex-column flex-md-row mt-3">
      <a href="#" class="btn btn-primary mb-2 mb-md-0" role="button">Bizimle İletişime Geç</a>
      <a href="#" class="btn btn-link text-muted text-decoration-none opacity-75-hover ms-md-2" role="button">Detaylı Bilgi</a>
    </div>
  </div>
  <div class="mt-5">
    {{> marquee/marquee-reviews }}
  </div>
</div>