<!-- Footer-->
<footer class="bg-dark pt-4 pb-7 {{configClassList}} {{classList}}">

    <div class="container pt-7">
        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center">
            <!-- Logo-->
            <a class="d-flex align-items-center lh-1 text-white transition-opacity opacity-50-hover text-decoration-none mb-4 mb-md-0"
                href="#">
                <span class="f-w-7 d-block text-success me-2">
                    {{> logo/zeplin-logo }}
                </span>
                <span>Lorem, ipsum.</span>
            </a>
            <!-- /Logo-->

            <!-- Socials-->
            <ul class="list-unstyled d-flex justify-content-end align-items-center">
                <li class="ms-5"><a class="text-white text-decoration-none transition-opacity opacity-50-hover"
                        href="#"><i class="ri-whatsapp-line ri-lg"></i></a></li>
                <li class="ms-5"><a class="text-white text-decoration-none transition-opacity opacity-50-hover"
                        href="#"><i class="ri-twitter-line ri-lg"></i></a></li>
                <li class="ms-5"><a class="text-white text-decoration-none transition-opacity opacity-50-hover"
                        href="#"><i class="ri-instagram-line ri-lg"></i></a></li>
                <li class="ms-5"><a class="text-white text-decoration-none transition-opacity opacity-50-hover"
                        href="#"><i class="ri-linkedin-line ri-lg"></i></a></li>
            </ul>
            <!-- Socials-->
        </div>
    </div>

    <div class="container">
        <div class="row mt-7">
            <div class="col-12 col-lg-4">
                <!-- One -->
                <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">
                    <h6 class="footer-heading">Praesent</h6>
                    <p class="footer-heading-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quae
                        corrupti adipisci cupiditate
                        optio atque rerum labore incidunt impedit exercitationem, perspiciatis earum totam eos tempore
                        quaerat error debitis repellat numquam amet at porro quos ipsa. Ut mollitia dignissimos nostrum
                        molestiae!</p>
                </div>
                <!-- One -->
            </div>

            <div class="col-6 col-lg-2">
                <!-- Two -->
                <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">
                    <h6 class="footer-heading">Class</h6>
                    <ul class="footer-nav list-unstyled">
                        <li><a href="#">Class aptent</a></li>
                        <li><a href="#">Fusce lorem</a></li>
                        <li><a href="#">Nam molestie euismod</a></li>
                        <li><a href="#">Ut enim</a></li>
                        <li><a href="#">Phasellus ut lorem</a></li>
                        <li><a href="#">Sed tortor</a></li>
                    </ul>
                </div>
                <!-- Two -->
            </div>

            <div class="col-6 col-lg-3">
                <!-- Three -->
                <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">
                    <h6 class="footer-heading">Etiam</h6>
                    <ul class="footer-nav list-unstyled">
                        <li><a href="#">Sed leo libero</a></li>
                        <li><a href="#">Donec</a></li>
                        <li><a href="#">Mauris luctus</a></li>
                        <li><a href="#">Morbi & sem</a></li>
                        <li><a href="#">Aliquam sit</a></li>
                        <li><a href="#">Pellentesque vitae</a></li>
                    </ul>
                </div>
                <!-- Three -->

            </div>
            <div class="col-12 col-lg-3">
                <!-- Four -->
                <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">
                    <h6 class="footer-heading">İletişim Bilgilerimiz</h6>
                    <ul class="footer-nav list-unstyled">
                        <li class="d-flex align-items-center my-4">
                            <i class="ri-customer-service-line ri-lg me-3"></i>
                            <div class="text-white">
                                <h5 class="fs-9" href="#">Müşteri Hizmetleri</h5>
                                <h5 class="fs-7 fw-medium">+90 000 000 0000</h5>
                            </div>
                        </li>
                        <li class="d-flex align-items-center my-4">
                            <i class="ri-time-line ri-lg me-3"></i>
                            <div class="text-white">
                                <h5 href="#">Çalışma Saatlerimiz</h5>
                                <h5 class="fs-7 fw-medium">Pazartesi - Cuma: 09:00 - 18:00</h5>
                            </div>
                        </li>
                        <li class="d-flex align-items-center my-4">
                            <i class="ri-navigation-line ri-lg me-3"></i>
                            <div class="text-white">
                                <h5 href="#">Yol Tarifi</h5>
                                <h5 class="fs-7 fw-medium">Atakum / Samsun</h5>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Four -->
            </div>
        </div>
    </div>
    </div>

    <div class="container">
        <div class="border-top border-white-10 mt-7 pt-4 d-flex flex-column flex-md-row justify-content-center align-items-center">
            <span class="small text-white opacity-50 mb-2 mb-md-0">All rights reserved &copy 2023</span>
        </div>
    </div>
</footer>
<!-- /Footer-->

<!-- Additional imports (modals, offcanvas)-->
{{> footer/imports }}
<!-- / Additional imports-->