<div class="py-2 topnavbar">
  <div class="container">
    <div class="row align-items-center">
      <!-- Left -->
      <div class="col-md-12 col-lg-6">
        <ul class="list-unstyled fs-8 text-center text-lg-start mb-0">
          <li>
            <i class="ri-map-pin-2-fill"></i>
            <a class="text-decoration-none text-muted opacity-75-hover" href="">Lorem Caddesi, Atakum, Samsun,
              Türkiye</a>
          </li>
          <li class="ms-2 flex align-items-center">
            <i class="ri-mail-line"></i>
            <a class="text-decoration-none text-muted opacity-75-hover" href="">example@example.com</a>
          </li>
        </ul>
      </div>
      <!-- /Left -->

      <!-- Right -->
      <div class="col-12 col-lg-6">
        <ul class="list-unstyled fs-9 d-flex justify-content-center justify-content-lg-end mb-0">
          <li class="mx-2 mt-2"><a class="text-decoration-none opacity-75-hover" href="#"><i
                class="ri-linkedin-box-fill ri-xl"></i></a></li>
          <li class="mx-2 mt-2"><a class="text-decoration-none opacity-75-hover" href="#"><i
                class="ri-facebook-box-fill ri-xl"></i></a></li>
          <li class="mx-2 mt-2"><a class="text-decoration-none opacity-75-hover" href="#"><i
                class="ri-twitter-fill ri-xl"></i></a></li>
          <li class="mx-2 mt-2"><a class="text-decoration-none opacity-75-hover" href="#"><i
                class="ri-youtube-fill ri-xl"></i></a></li>
          <li class="mx-2 mt-2"><a class="text-decoration-none opacity-75-hover" href="#"><i
                class="ri-instagram-fill ri-xl"></i></a></li>
          <li>
            <select class="form-select mt-1" role="button" aria-label="Default select example">
              <option selected>TR</option>
              <option value="1">EN</option>
              <option value="2">AR</option>
            </select>
          </li>
        </ul>
      </div>
      <!-- /Right -->
    </div>
  </div>
  <div class="container">
    <div class="row">
      
    </div>
  </div>
</div>